@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Roboto:wght@500&family=Kiwi+Maru:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.fontEn {
  font-family: 'Roboto', sans-serif;
}

.fontJa {
  font-family: 'Kiwi Maru', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.subTitle {
  color: darkslategray;
  font-size: 3em;
  margin: .5em;
  padding: 0;
}

.section {
  font-size: 1.5em;
  color: darkslategray;
}
