.skillsetModal {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: tomato;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transform: rotateZ(90deg);
  transition: all .5s 0s ease;
}

.skillsetModalActive {
  width: 90vw;
  height: 95vh;
  border-radius: 10px;
  transform: rotateZ(0deg);
}

.subTitle {
  color: white;
  font-size: 3em;
  margin: .5em;
  padding: 0;
  white-space: nowrap;
}

.section {
  font-size: 1.5em;
  color: white;
}

.content {
  opacity: 0;
  width: 100%;
  padding: 0 25%;
  overflow: auto;
  font-size: 1.2em;
  line-height: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
  transition: all .5s .4s ease;
}

.contentActive {
  opacity: 1;
}

.skillset {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 4px;
  padding: 10px;
  width: 6em;
  height: 6em;
  background-color: white;
  border-radius: 10%;
  font-size: .7em;
  font-weight: bold;
  transition: all .2s 0s ease;
  user-select: none;
}

.closeSkillsetModalButton {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 1em;
  right: 1em;
  width: 0;
  height: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: rgba(0, 0, 0, 60%);
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s 0s ease;
}

.closeSkillsetModalButtonActive {
  opacity: 1;
  width: auto;
  height: auto;
}

@media screen and (max-width:787px) {
  .content {
    width: 90%;
    padding: 0;
  }

  .skillsetModalActive {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .subTitle {
    white-space: pre-wrap;
  }
}